@import 'variables';
@import 'syntax';

body {
    font-family: $font_family;
    color: black;
    font-size: 16px;
    line-height: 1.7rem;
}

a,
a:visited {
    color: black;
    text-decoration: none;
    color: $highlight_color;
    border-bottom: 1px dashed $highlight_color;
}

a:hover,
a:active {
    background: lighten($highlight_color, 50%);
    color: black;
}

h1 {
    font-family: $headline_font_family;
    size: 30px;
    text-transform: capitalize;
    line-height: 1.3em;
}

h2 {
    font-family: $headline_font_family;
    font-size: 22px;
    margin-top: 40px;
    text-transform: capitalize;
    line-height: 1.3em;
}

pre {
    &.sourceCode {
        border: 1px dashed lighten($highlight_color, 20%);
        font-size: 14px;
        line-height: 1.3rem;
        padding: 10px 20px;
        background: $light_color;
        overflow: auto;

        code {
            padding: 0;
            background: transparent;
        }
    }

    &.example {
        border: 1px dashed lighten($grey_color, 20%);
        padding: 0 20px;
        font-size: 0.8em;
        background: lighten($grey_color, 65%);
        margin-top: -15px;
        border-top: 1px dotted lighten($highlight_color, 20%);

        &::before {
            content: "=>";
            margin-right: 5px;
        }

        code {
            padding: 0;
            background: transparent;
        }
    }
}

code {
    background: lighten($highlight_color, 50%);
    padding: 0 2px;
}

blockquote {
    position: relative;
    margin-left: 4em;
    margin-top: 50px;
    margin-bottom: 50px;

    &::before {
        content: '"';
        position: absolute;
        top: -20px;
        left: -20px;
        font-size: 30px;
        color: $grey_color;
    }
}

table {
    border-collapse: collapse;

    td,
    th {
        border: 1px dashed black;
        padding: 0 10px;

    }

    tr.even td {
        background: lighten($grey_color, 50%);
    }

    th {
        border-bottom: 1px solid black;
        background: lighten($grey_color, 50%);
    }
}

.footnoteRef {
    border-bottom: none;
}

.footnotes {
    color: $grey_color;
    margin-top: 40px;

    p, ol {
        margin: 5px 0;
    }
}

.subtitle {
    display: block;
    color: $grey_color;
    font-weight: normal;
    font-style: italic;
}

.twitter-tweet {
    margin-left: auto;
    margin-right: auto;
}

.page-header {
    margin-top: 20px;
    overflow: hidden;
}

.navigation {
    font-size: 20px;
    font-family: $headline_font_family;
    border-bottom: 2px solid black;
    height: 74px;
    padding-bottom: 7px;
    padding-left: 45px;
    box-sizing: border-box;
    float: left;
    line-height: 25px;

    @media screen and (max-width: $mobile_breakpoint) {
        padding-left: 15px;
    }

    a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        display: inline-block;
        padding: 40px 5px 7px;
        box-sizing: border-box;
        border-bottom: none;

        &.active {
            color: $highlight_color;
            border-bottom: 4px solid $highlight_color;
        }

        &:hover {
            background: lighten($highlight_color, 50%);
            color: black;
        }
    }
}

.main-container {
    position: relative;
    margin: 0 50px;
    max-width: 900px;

    .content {
        overflow: hidden;
    }

    @media screen and (max-width: $mobile_breakpoint) {
        margin: 0 20px;
    }
}

div#footer {
    border-top: dashed 1px $grey_color;
    color: $grey_color;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
}

div.info,
div.tags {
    color: $grey_color;
    font-size: 14px;
    font-style: italic;
}

.post {
    h2 {
        margin-bottom: 5px;
    }

    .data {
        color: $grey_color;
        font-weight: normal;
        font-style: italic;
    }

    .desc {
        color: $grey_color;
    }
}

.reddit-discussion {
    font-style: italic;
    margin-top: 50px;

    .reddit-logo {
        float: left;
        height: 75px;
        margin-right: 10px;
    }
}
