$font_family: open sans, helvetica, arial, sans-serif;
$headline_font_family: cabin, helvetica, arial, sans-serif;
$highlight_color: #00e4c8;

body {
    font-family: $font_family;
    color: black;
    font-size: 16px;
    line-height: 1.5em;
}

a,
a:visited {
    color: black;
    text-decoration: none;
    color: $highlight_color;
    border-bottom: 1px dashed $highlight_color;
}

a:hover,
a:active {
    background: lighten($highlight_color, 50%);
    color: black;
}

.page-header {
    margin-top: 20px;
    overflow: hidden;
}

.navigation {
    font-size: 20px;
    font-family: $headline_font_family;
    border-bottom: 2px solid black;
    height: 75px;
    padding-bottom: 7px;
    padding-left: 45px;
    box-sizing: border-box;
    float: left;

    a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        display: inline-block;
        padding: 40px 5px 7px;
        box-sizing: border-box;
        border-bottom: none;

        &.active {
            color: $highlight_color;
            border-bottom: 4px solid $highlight_color;
        }

        &:hover {
            background: lighten($highlight_color, 50%);
            color: black;
        }
    }
}

.main-container {
    position: relative;
    margin: 0px auto 0px 50px;
    max-width: 900px;
}

h1 {
    font-family: $headline_font_family;
    size: 30px;
    text-transform: capitalize;
}

h2 {
    font-family: $headline_font_family;
    font-size: 22px;
    margin-top: 40px;
    text-transform: capitalize;
}

div#footer {
    border-top: dashed 1px #555;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}
