$font_family: open sans, helvetica, arial, sans-serif;
$headline_font_family: cabin, helvetica, arial, sans-serif;
$highlight_color: #00e4c8;
$grey_color: #555;
$light_color: #f3fbfa;

$mobile_breakpoint: 800px