$if(tags)$
    <div class="tags"><p>Tags: $tags$</p></div>
$else$
    <p><a href="/archive.html">Show all posts</a>
$endif$

$for(posts)$
    <article class="post">
        <header class="post-head">
            <h2>
                <span class="data">$date$:</span>
                <a href="$url$">
                    $title$
                    $if(subtitle)$
                        <br>$subtitle$
                    $endif$
                </a>
            </h2>
        </header>
        $if(description)$
            <div class="desc">$description$</div>
        $endif$
    </article>
$endfor$
