<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Marek Fajkus - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/">Marek Fajkus</a>
            </div>
            <div id="navigation">
                <a href="/archive.html">writings...</a>
            </div>
        </div>

        <div id="content">
            <h1>$title$</h1>

            $body$
        </div>
        <div id="footer">
            <a href="https://github.com/turboMaCk/turboMaCk.github.io">Source</a> available under BSD-3-Clause.<br>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />Content is pubished under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br>
            Proudly powered by
            <a href="http://jaspervdj.be/hakyll">Hakyll</a>
        </div>

        <script src="js/hello-world.js" />
        <script>Elm.HelloWorld.fullscreen();</script>
    </body>
</html>
