$if(tags)$
<div class="tags">
    Posted in: $tags$.
</div>
$endif$
<div class="info">
    Posted on $date$
    $if(author)$
        by $author$
    $endif$
</div>

<main id="content">
    $body$
</main>

$if(reddit)$
<div class="reddit-discussion">
  <img src="/assets/reddit.png" alt="redit" class="reddit-logo">
  Since I'm not a fan of disqus or any other commenting system there is no disscusion under this post.<br>
  However I do like reddit as a platform so feel free to shout here:<br>
  <a href="https://www.reddit.com/$reddit$">$reddit$</a>
</div>
$endif$
